
@{
    ViewBag.Title = "日志信息";
    ViewBag.MapIcon = "fa fa-cog";
    ViewBag.Map1 = "系统维护";
    ViewBag.Map2 = "日志列表";
}
<script src="~/Content/script/SysLog/SysLog.js"></script>
<table id="SysLog" class="table"></table>
<div id="toolbar" class="btn-group">
    <label>角色名称</label> &nbsp;
    <select name="AmdnID" style="width:190px;" id="AdminName">
        <option value="0">全部</option>
    </select>
</div>
